name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * 1"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Hey there, your issue has been marked as stale as it has had no activity for some time. Contat the developer if you believe this is a problem.'
        stale-pr-message: 'Hey there, unfortunately it appears your pull request has gone stale. Be sure to contact the developer if you believe this is an issue.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale-pr'
